h1{
    font-family: "Open Sans", sans-serif;
    color: transparent;
    font-size: 70px;
    -webkit-text-stroke: 3px whitesmoke;
    position: relative;
}

.container{
    position: relative;
    margin-bottom: auto;
    padding-left: 2%;
}

h1::before{
    content: "Weather Forecast";
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    color: whitesmoke;
    border-right: 5px solid orange;
    transition: 1s ease-in-out;
}

h1:hover::before{
    width: 100%;
    filter: drop-shadow(0 0 25px orange);
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #222;
    font-family: "Open Sans", sans-serif;
    background-image: url("background.jpg");
    font-size: 120%;
}

.card {
    background: #f0ededd0;
    color: black;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    position: absolute;
    margin: auto;
    padding: 32px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 8px;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: black;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

input.search-bar {
    border: none;
    outline: none;
    padding: 6.4px 16px;
    border-radius: 24px;
    background-color: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
}

button:hover{
    background: #7c7c7c6b;
}

h3.temp {
    margin: 0;
    margin-bottom: 10px;
}

.flex {
    display: flex;
    align-items: center;
}
.weather-description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading::after{
    visibility: visible;
    content: "Loading";
    color: black;
    position: absolute;
    top: 0;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #7c7c7c2b;
    color: white;
    text-align: center;
}